<!DOCTYPE html>
<html>
    <head>
        <title>Achievement Journal - {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% if session.username %}
        <p>Signed in as {{ session.username }}</p>
        <button><a href="/signout">Sign out</a></button>
        {% else %}
        <button><a href="/signin">Sign in</a></button>
        <button><a href="/signup">Sign up</a></button>
        {% endif %}
        <form action="/search" method="POST">
            <p>Search for a post:</p><input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        {% block content %}{% endblock %}
    </body>
</html>