<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Achievement Journal - Sign In</title>
    </head>
    <body>
        <h1 class="top_bar_color">Sign In</h1>
        <form action="/signin" method="post">
            <p>Username:<input type="text" name="username"></p>
            <p>Password:<input type="password" name="password"></p>
            <input type="submit" value="Sign In">
        </form>
        <button><a href="/">Back</a></button>
    </body>
</html>